@charset "UTF-8";
/* CSS Document */
html {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}

*, *:after, *:before {
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;	
}

.wrapper {
	width:83.3%;
	margin:0 auto;	
}


.row {
	width:100%;
	padding-bottom:1.1111111111rem; 
}

.section1 {
	height:33.3333333333rem;	
}

#top-margin {
	margin-top:7.2222222222rem;	
}

.size {
	height:12.5rem;
	margin-top:11.25rem;
}

.width {
	width:19rem;	
}

.pull-left {
	float:left;	
}
.pull-right {
	float:right;	
}

.icon {
	height:50px;	
}
/*======= Typography ===========================
================================================*/

h2 {
	font-family: 'Paytone One', sans-serif;
	font-size:3.9375rem;
	color:#1A2530;
	letter-spacing: .1rem;
}

.h2products {
	font-size: 3.4rem;	
}

.center {
	text-align:center;	
}

.h3 {
	font-family: 'Titillium Web', sans-serif;
	font-size:2.25rem;
	color:#506577;
	margin-bottom:0;
}

.h4 {
	font-size:1.25rem;	
	font-weight:300;
	color:#506577;

}

p {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.4rem;	
}

.align-left {
	text-align:left;	
}

.align-right {
	text-align:right;	
}


a {
	color: black;
	text-decoration:none;
} 

.btn {
	margin-top:2rem;	
}

.btn-buy {
	background-color:#DA5332;
	color:#f2f2f2;
	padding:.8333333333rem 1.1111111111rem;
}

.btn-buy:hover{
	background-color: #B62A2A;
	padding:.8333333333rem 1.1111111111rem;
}


/*======= End of Typography ===========================
================================================*/



/*======= HEADER   ====================================
=========          ==================================*/
header {
	height:6.05555555556rem;
	background-color: #F2F2F2;
	position: fixed;
  	width: 100%;
  	margin-bottom: 5.5555555556rem;
  	top: 0px;
  	left: 0px;
	z-index:1;	
}

#logo {
	height: 6.05555555556rem;
}

nav {
	margin-top:1.38888888889rem;	
}

nav ul {
	text-align: right;
}

nav ul li {
	padding:.8305555556rem;
	display:inline-block;
	font-weight:300;
}

nav ul li a {
	padding:.5555555556rem .5555555556rem;	
}

nav ul li a:hover {
	color:white;
	background-color:#DA5332;
	padding:.5555555556rem .5555555556rem;	
}

nav ul li a:active {
	color:white;
	background-color:#B62A2A;
}

/*=======  END OF HEADER  ====================================
=========                 ==================================*/


/*======   ABOUT US  =========================================
========             =======================================*/

#aboutUs {
	margin-top: 5.5555555556rem;	
}

#section1 {
	height:33.3333333333rem;
	background-color: white;	
}

#section1 h2 {
	margin-top:7.2222222222rem;
}

#section1 a {
	background-color:#DA5332;
	color:#F2F2F2;	
	line-height:4rem;
	padding:.8333333333rem 1.1111111111rem;
}

#section1 a:hover {
	background-color:#B62A2A;
	color:#F2F2F2;	
	line-height:4rem;
	padding:.8333333333rem 1.1111111111rem;}

/*======   END OF ABOUT US  =========================================
========                    =======================================*/



/*======   HERO   ====================================================
========          ==================================================*/

#hero {
	background:url(../img/hero_2.jpg) no-repeat center;
	height:98.42519685%;
	width:100%;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

#hero h2, #hero blockquote {
	color: white;
	padding-top: 23.3333333333rem;
}

#hero h2 {
	margin-bottom:10px;	
}

#hero blockquote {
	font-family:'open sans';
	font-style:italic;
	font-weight:300;
	font-size:1rem;
	padding:0 .5555555556rem;
}

#herotype {
	font-weight:300;
	font-size:1.5rem;
	color:#506577;

}	

#topmargin {
	margin-top:5.5555555556rem;	
}

form {
	display:block;	
}


.mobile-display {
	display:none;	
}

#info {
	font-size:.7rem;	
	margin-top:1.6666666667rem;
}

#review {
	font-size:.8rem;
	margin-top:1rem;	
}

#fh {
	font-size: 2.96499983rem;
	}

#ourProccess {
	background-color:#1a2530;	
}

#ourProccess h2, #ourProccess #color {
		color:#f2f2f2;
}

#ourProccess .h3 {
	color:#cce0f4;	
}

#feed {
	background-color: red;
	height:150px;	
}

#feed2 {
	height:300px;
	background-color: green;	
}

footer {
	height:100px;
	background-color: #1a2530;	
}

footer a {
	color:#f2f2f2;	
}

/*==== GOOGLE MAPS   ===================================================
======               =================================================*/

#map-canvas{
	width: 100%;	
	height:300px;
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}



/*===   FORM   ========================================================
=====          ======================================================*/

form {
	font-size:.7777777778rem;	
}

.cd-form {
  width: 90%;
  max-width: 27.7777777778rem;
  margin: 4em auto;
}
.cd-form::after {
  clear: both;
  content: "";
  display: table;
}
.cd-form fieldset {
	border-style: none;
}
.cd-form legend {
  font-family: 'Paytone One', sans-serif;
  font-size: 3.9375rem;
}
.cd-form div {
  /* form element wrapper */
  position: relative;
}
.cd-form h4, .cd-form .cd-label {
  font-size: 1.3rem;
  color: #94aab0;
}
.cd-form .cd-label {
  display: block;
  text-align:left;
}
.cd-form input, .cd-form textarea, .cd-form select, .cd-form label {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  color: #2b3e51;
}
.cd-form input[type="text"],
.cd-form input[type="email"],
.cd-form textarea,
.cd-form select,
.cd-form legend {
  display: block;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
.cd-form input[type="text"],
.cd-form input[type="email"],
.cd-form textarea,
.cd-form select {
  /* general style for input elements */
  padding: .6666666667rem;
  border: .0555555556rem solid #cfd9db;
  background-color: #ffffff;
  box-shadow: inset 0 .0555555556rem .0555555556rem rgba(0, 0, 0, 0.08);
}
.cd-form input[type="text"]:focus,
.cd-form input[type="email"]:focus,
.cd-form textarea:focus,
.cd-form select:focus {
  outline: none;
  border-color: #2c97de;
  box-shadow: 0 0 .2777777778rem rgba(44, 151, 222, 0.2);
}
.cd-form .cd-select {
  /* select element wapper */
  position: relative;
}
.cd-form .cd-select::after {
  /* arrow icon for select element */
  content: '';
  position: absolute;
  z-index: 1;
  right: .8888888889rem;
  top: 50%;
  margin-top: -.8888888889rem;
  display: block;
  width: .8888888889rem;
  height: .8888888889rem;
  background: url("../img/cd-icon-arrow.svg") no-repeat center center;
  pointer-events: none;
}
.cd-form select {
  box-shadow: 0 .0555555556rem .16666666667rem rgba(0, 0, 0, 0.08);
  cursor: pointer;
}
.cd-form select::-ms-expand {
  display: none;
}
.cd-form .cd-form-list::after {
  clear: both;
  content: "";
  display: table;
}
.cd-form .cd-form-list li {
  /* wrapper for radio and checkbox input types */
  display: inline-block;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0 1.4444444444rem .8888888889rem 0;
  float: left;
}
.cd-form textarea {
  min-height: 11.1111111111rem;
  resize: vertical;
  overflow: auto;
}
.cd-form input[type="submit"] {
  /* button style */
  border: none;
  background: #DA5332;
  padding: 16px 20px;
  color: #F2F2F2;
  font-weight: bold;
  float: right;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
.no-touch .cd-form input[type="submit"]:hover {
  background: #B62A2A;
}
.cd-form input[type="submit"]:focus {
  outline: none;
  background: #B62A2A;
}
.cd-form input[type="submit"]:active {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}
.cd-form [required] {
  background: url("../img/cd-required.svg") no-repeat top right;
}

@media only screen and (min-width: 600px) {
  .cd-form div {
    /* form element wrapper */
    margin: 32px 0;
  }
  .cd-form legend + div {
    /* reduce margin-top for first form element after the legend */
    margin-top: 20px;
  }
  .cd-form h4, .cd-form .cd-label {
    font-size: 1.4rem;
    margin-bottom: 10px;
  }
  .cd-form input[type="text"],
  .cd-form input[type="email"],
  .cd-form textarea,
  .cd-form select {
    padding: 16px;
  }
}

@-webkit-keyframes cd-bounce {
  0%, 100% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.8);
  }
}
@-moz-keyframes cd-bounce {
  0%, 100% {
    -moz-transform: scale(1);
  }
  50% {
    -moz-transform: scale(0.8);
  }
}
@keyframes cd-bounce {
  0%, 100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
  }
}
/* -------------------------------- 

Custom icons

-------------------------------- */
.cd-form .icon input, .cd-form .icon select, .cd-form .icon textarea {
  padding-left: 54px !important;
}
.cd-form .user {
  background: url("../img/cd-icon-user.svg") no-repeat 16px center;
}
.cd-form [required].user {
  background: url(../img/cd-icon-user.svg) no-repeat 16px center, url("../img/cd-required.svg") no-repeat top right;
}
.cd-form .email {
  background: url(../img/cd-icon-email.svg) no-repeat 16px center;
}
.cd-form [required].email {
  background: url("../img/cd-icon-email.svg") no-repeat 16px center, url("../img/cd-required.svg") no-repeat top right;
}
.cd-form .message {
  background: url("../img/cd-icon-message.svg") no-repeat 16px 16px;
}
.cd-form [required].message {
  background: url(../img/cd-icon-message.svg) no-repeat 16px 16px, url("../img/cd-required.svg") no-repeat top right;
}

/* -------------------------------- 

FLoating labels 

-------------------------------- */
.js .floating-labels div {
  margin: 28px 0;
}
.js .floating-labels .cd-label {
  position: absolute;
  top: 16px;
  left: 16px;
  font-size: 1.6rem;
  cursor: text;
  -webkit-transition: top 0.2s, left 0.2s, font-size 0.2s;
  -moz-transition: top 0.2s, left 0.2s, font-size 0.2s;
  transition: top 0.2s, left 0.2s, font-size 0.2s;
}
.js .floating-labels .icon .cd-label {
  left: 56px;
}
.js .floating-labels .cd-label.float {
  /* move label out the input field */
  font-size: 1.2rem;
  top: -16px;
  left: 0 !important;
}
@media only screen and (min-width: 600px) {
  .js .floating-labels legend + div {
    /* reduce margin-top for first form element after the legend */
    margin-top: 16px;
  }
  .js .floating-labels .cd-label {
    top: 20px;
  }
}




/*=================  clears on all browsers
we also want to use the psuedo selector after
basically the same thing as overflow   ==================================================*/

.row:after {
	content:"";
	display:table;
	clear:both;	
}

/*============================================================*/


[class*='col-'] {
	float: left;	
	padding:0 20px 20px 0;
}
.center-block {
	float:none;
	margin-left:auto;
	margin-right:auto;
}
[class*='col-']:last-of-type {
	padding-right:0px;	
}
.col-1-1 {
	width:100%;
}

.col-1-2 {
	width:50%;
}


.col-1-3 {
	width:33.333%;
}

.col-1-4 {
	width:25%;
}

.col-1-5 {
	width:20%;
}

.col-1-6 {
	width: 16.66%;
}

.col-1-7 {
	width: 14.2857143%;	
}

.col-1-8 {
	width: 12.5%;
}

.col-1-9 {
	width: 11.11%;
}

.col-1-10 {
	width: 10%;	
}

.col-1-11 {
	width: 9.0909%;
}

.col-1-12 {
	width: 8.333%;	
}

.col-2-12 {
	width:15.9580078125%;	
}

.col-5-12 {
	width: 30%;	
}

.col-7-12 {
	width: 70%;	
}

.col-8-12 {
	width: 66.29228515625%;	
}

@media screen and (max-width:768px) {
.wrapper {
	width:95%;
	font-size:14px;
}

nav ul, nav ul li {
	padding-left:0;
}

h2 {
	font-size: 3.5375rem;	
}

.h2products {
	margin-bottom:0;	
}

.h3 {
	margin-top:0;	
}

.size {
	margin-top:5.25rem;	
}

.icon {
	height:40px;	
}

#topmargin {
	margin-top:0;
}

.btn-buy {
	padding:.8333333333rem 6rem;	
}

.btn-buy:hover{
	padding:.8333333333rem 6rem;
}


img.pull-right {
	float:none;
}
#roasts .align-left {
	text-align:center;
}

#roasts .pull-right, #roasts .pull-left {
	float:none;
}
#roasts .width {
	width:100%;
}


.col-1-3 img {
	height: 40px;	
}

.col-1-1 {
	width:100%;
}

.col-1-2 {
	width:100%;	
}


.col-1-3 {
	width:33.333%;
}

.col-1-4 {
	width:25%;	
}

.col-1-5 {
	width:33%;	
}

.col-1-6 {
	width: 50%;	
}

.col-1-7 {
	width: 100%;	
}

.col-1-8 {
	width: 50%;	
}

.col-1-9 {
	width: 33%;
}

.col-1-10 {
	width: 25%;	
}

.col-1-11 {
	width: 33%;	
}

.col-1-12 {
	width: 50%;	
}
		
}